
.accordion {
    background-color: #3A3B3C;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 125%;
    border-radius: 25px;
    border: 2px solid white;
}

    .active, .accordion:hover {
        color: red;
        border: 2px solid red;
    }

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
body{
   background-color: black;
   color: white;
}
h1{
    color: red;
}
img{
    width: 300px;
    height: 300px;
}

.content {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

table,
th,
td {
    border: 1.5px solid red;
    padding: 12px 18px;
}
strong{
    color:red;
}
